/* 
* @Author: dell
* @Date:   2018-04-12 16:28:21
* @Last Modified by:   dell
* @Last Modified time: 2018-04-12 17:07:33
*/
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}

.clearfix:after{ content: ""; clear: both; display: block;}

.fl{ float: left;} .fr{float: right;}
.gWidth{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}